{% extends "base.html"%}

{% block shading_input_form %}
    <article>
        <p>An error occured during the shading calculator process. Please contact the creator of the program.</p>
    </article>
    <section>
        <link rel="Return to index page." href="{{ url_for('index') }}">
    </section>
{% endblock %}