<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Raumgleitner shading calculator</h1>
                <!--<nav>-->
                    <!--<ul>-->
                        <!--<li><a href="#">upload .obj file</a></li>-->
                        <!--<li><a href="#">upload text</a></li>-->
                        <!--<li><a href="#">nav ul li a</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <section>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </section>
                {% block shading_input_form %}
                <article>
                    <p>"No input form loaded."</p>
                </article>
                {% endblock %}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Copyright by TS</h3>
                <p>2017</p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
