{% extends "base.html"%}

{% block shading_input_form %}
    <form action="{{ url_for('submit_project') }}" method="post" enctype=multipart/form-data>
        <article>
            <header>
                <h1>Input parameters:</h1>
            </header>
            <section>

                    {{input_form.hidden_tag()}}

                    <p>Input.obj file: {{ input_form.input_obj_file(size = 25) }}</p>
                    <p>Sun database: {{ input_form.input_sd_database(size = 25) }}</p>
                    <p>Sheet name of database: {{ input_form.input_sd_sheet(size = 25) }}</p>
                    <p>Base plane of input file: {{ input_form.base_plane(size = 25)}}</p>
                    <p>North direction angle: {{ input_form.north_direction_angle(size = 25)}}</p>
                    <p>Process resolution: {{ input_form.working_resolution(size = 25)}}</p>
                    <p>Height of base plane: {{ input_form.base_plane_height(size = 25)}}</p>
                    <p>Tolerance around base plane: {{ input_form.base_plane_tolerance(size = 25)}}</p>
                    <p>Alpha shape start radius: {{ input_form.alpha_start(size = 25)}}</p>
                    <p>Alpha shape radius increment: {{ input_form.alpha_increment(size = 25)}}</p>
                    <p>Target cover percentage of vertices: {{ input_form.target_cover_percentage(size = 25)}}</p>
                    <p>Smoothening tolerance: {{ input_form.smoothening_tolerance(size = 25)}}</p>
                    <input type="submit" value="Start calculation">

            </section>
        </article>

        <section>
            <header>
                <p></p>
                <h2>Input times:</h2>
            </header>
            <p>Time 1: {{ input_form.time_1 }}</p>
            <p>Time 2: {{ input_form.time_2 }}</p>
            <p>Time 3: {{ input_form.time_3 }}</p>
            <p>Time 4: {{ input_form.time_4 }}</p>
            <p>Time 5: {{ input_form.time_5 }}</p>
            <p>Time 6: {{ input_form.time_6 }}</p>
        </section>

        <aside>
            <p>Please select output types:</p>
            <p>.obj format: {{ input_form.is_obj }}</p>
            <p>.pdf format: {{ input_form.is_pdf }}</p>
        </aside>

    </form>
{% endblock %}

<!--{% block response_field%}-->
        <!--<h3>Request status:</h3>-->
        <!--<p>{{ api_response }}</p>-->
<!--{% endblock %}-->
