<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section>
    <form action="{{}}" method="post">
        <p>Input value:
            <input type="text" name="test_text">

        </p>
    </form>
</section>
<body>

</body>
</html>